@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    width: 100vw;
    overflow-x: hidden;
}


body {
    font-family: 'Space Mono', monospace;
    background: url("../img/tile.png") repeat;
    background-size: 30px 30px;
    color: #FEFEFE;
}

.error-message {
    @apply text-red-600 italic;
}

textarea, input {
    @apply text-gray-900;
}

p {
    @apply my-2;
}

.glow {
    transition: all 0.2s ease-in-out;
}

.glow:hover {
    box-shadow: 0 5px 15px rgba(220, 38, 38, .4);
}
